.sideNavBar{
    
    background-color: white;
    height: 80%;
/*    width: 100%;*/
/*    align-self: flex-start;*/
}

/*
.SidePageContent{
      background-color: white;
    height: 80%;
    width: 10%;
    align-self: flex-start;
    position: inherit; 
    
}*/

.SideNav{
    
    position: relative;
    background-color: white;
    left:1%;
    
/*    width: 90%;*/
}

.horizontalBlocks {
/*    margin-left: -20px;*/
/*    margin-top: 50px;*/
}


div.horizontalBlocks{
    
    position: relative;
    left:2%;
}

.horizontalBlocks .md-padding{
    float: left;
    min-width: 350px; 
/*    margin: 10px;*/
   
    
}