<html lang="en">
    
    <head>
        <link rel="stylesheet" href="/CSS/angular/angular-material.min.css">
        <link rel="stylesheet" href="/CSS/toolbar/toolbar.css">
        <link rel="stylesheet" href="/CSS/bootstrap/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/CSS/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/CSS/toolbaritem/dropdownbtn.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <title>Comms-dev</title>
        
<!--        http://keenthemes.com/preview/metronic/theme/admin_4/page_general_search_2.html?query=-->
    </head>

    <body ng-app="comms-coll" ng-cloak style="background-color:#E9ECF3">
        
          <script src="/JS/angular/angular.min.js"></script>
          <script src="/JS/angular/angular-animate.min.js"></script>
          <script src="/JS/angular/angular-aria.min.js"></script>
          <script src="/JS/angular/angular-material.min.js"></script>
          <script src="/JS/angular/angular-messages.min.js"></script>
          <script src="/JS/jquery-3.1.1.js"></script>
        
          <script> 
                
            $(function()
            {
              $("#LoadSideNav").load("/HTML/SideNav/Sidenav.html");
            });
                
          </script> 

          <script type="text/javascript">

           var app = angular.module('comms-coll', ['ngMaterial']);

           app.controller('buttonCntrl', buttonCntrl);

            function buttonCntrl($mdPanel) {


              this._mdPanel = $mdPanel;

              this.desserts = [
                'USER NAME',
                'PASSWORD',
                'SIGN OUT'
              ];
                this.selected = {favoriteDessert: 'Donut'};
                this.disableParentScroll = false;
            }
          
            
              buttonCntrl.prototype.showMenu = function(ev) {
                  
                          
              var position = this._mdPanel.newPanelPosition()
                  .relativeTo('.demo-menu-open-button')
                  .addPanelPosition(this._mdPanel.xPosition.ALIGN_START, this._mdPanel.yPosition.BELOW);
                  
              var config = {
                attachTo: angular.element(document.body),
                controller: PanelMenuCtrl,
                controllerAs: 'ctrl',
                template:
                    '<div class="demo-menu-example" ' +
                    '     aria-label="Select your favorite dessert." ' +
                    '     role="listbox">' +
                    '  <div class="demo-menu-item" ' +
                    '       ng-class="{selected : dessert == ctrl.favoriteDessert}" ' +
                    '       aria-selected="{{dessert == ctrl.favoriteDessert}}" ' +
                    '       tabindex="-1" ' +
                    '       role="option" ' +
                    '       ng-repeat="dessert in ctrl.desserts" ' + 
                    '       ng-click="ctrl.selectDessert(dessert)"' +
                    '       ng-keydown="ctrl.onKeydown($event, dessert)">' +
                    '    {{ dessert }} ' +
                    '  </div>' +
                    '</div>',
                panelClass: 'demo-menu-example',
                position: position,
                locals: {
                  'selected': this.selected,
                  'desserts': this.desserts
                },
                openFrom: ev,
                clickOutsideToClose: true,
                escapeToClose: true,
                focusOnOpen: false,
                zIndex: 2
              };

              this._mdPanel.open(config);
            };

              function PanelMenuCtrl(mdPanelRef, $timeout) {
                  
                  
              this._mdPanelRef = mdPanelRef;
              this.favoriteDessert = this.selected.favoriteDessert;
              $timeout(function() {
                var selected = document.querySelector('.demo-menu-item.selected');
                if (selected) {
                  angular.element(selected).focus();
                } else {
                  angular.element(document.querySelectorAll('.demo-menu-item')[0]).focus();
                }
              });
            }
            
      

            PanelMenuCtrl.prototype.selectDessert = function(dessert) {
              
              this.selected.favoriteDessert = dessert;
              this._mdPanelRef && this._mdPanelRef.close().then(function() {
                angular.element(document.querySelector('.demo-menu-open-button')).focus();
              });
            };

        </script>
        
        
        <div class="toolbars1" layout="row" style="height:10%;" ng-controller="buttonCntrl as ctrl" ng-cloak>            
  
            <md-toolbar md-scroll-shrink ng-if="true" class="toolbars2" style="position:fixed;">
                
                <div class="md-toolbar-tools" id="innertoolbar">
                    
<!--                    <img src="/RESOURCES/Cyient-logo.png" alt="Cyient" >-->
                    &nbsp;
                    &nbsp;
                    <h3 style="color:#5995C8">
                        <span>
                          COMMS COLLABORATION
                        </span>
                    </h3>                    
                    <span flex></span>
                    
                    <div class="demo-md-panel-content" layout="row" layout-align="center center">
                        
                       <span>
                                
                            <md-button class="md-primary md-hue-1 searchBtn" style="color: #ABB0C2;">
                                <md-icon md-svg-src ="/RESOURCES/ic_search_white_48px.svg" class="s24" aria-label="Email"></md-icon>
                            </md-button>
                           
                       </span>
                          
                        <span>
                          
                             <md-button class="md-primary md-hue-1 searchBtn" style="color: #ABB0C2;">
                                <md-icon md-svg-src ="/RESOURCES/ic_email_white_48px.svg" class="s24" aria-label="Email"></md-icon>
                            </md-button>
                          
                         </span>
                        
                         <span>
                         
                            <md-button class="md-primary md-hue-1 searchBtn" style="color: #ABB0C2;">
                                <md-icon md-svg-src ="/RESOURCES/ic_notifications_none_white_48px.svg" class="s24" aria-label="Notification"></md-icon>
                                
                            </md-button>
                        
                        </span>
                        
                        <span>
                       
                            <md-button class="md-primary md-hue-1 demo-menu-open-button" ng-click="ctrl.showMenu($event)" style="color: #ABB0C2;">
                                  <md-button class="md-fab empImage" ng-disabled="true" aria-label="Comment">
                                      <img src="/RESOURCES/avatar4.jpg" alt="empImage" >
                                  </md-button>

                                Admin
                            </md-button>
                            
                        </span>                      

                    </div>                    
                </div>                
                
            </md-toolbar>

        </div>
        
        
        
        <div id="LoadSideNav" class="SideNav" style="width:18%;" layout="row" layout-align="center center"> 
            
        </div>
        
        
        <div id="wrapper" style="position:relative;left:12%;bottom:77%;">
        
            <div style="float:left;width:15%;position:relative;left:10%;bottom:70%;">
                
                <md-content class="md-padding" layout-xs="row" layout="row" style="min-height:15%;">
                    
                    <h2 style="color:#2BB4C0;">
                    
                    7890
                    </h2>
                </md-content>
            </div>
            
            <div style="float:left;width:15%;position:relative;left:15%;bottom:70%;">
                 <md-content class="md-padding" layout-xs="row" layout="row" style="min-height:15%;">
                    <h2 style="color:#F36A5A;">

                    1349
                    </h2>
                </md-content>
            </div>

            <div style="float:left;width:15%;position:relative;left:20%;bottom:70%;">
                 <md-content class="md-padding" layout-xs="row" layout="row" style="min-height:15%;">
                    <h2 style="color:#5C9BD1;">
                    
                    576
                    </h2>
                 </md-content>
            </div>
            
            <div style="float:left;width:15%;position:relative;left:25%;bottom:70%;">
                 <md-content class="md-padding" layout-xs="row" layout="row" style="min-height:15%;">
                    <h2 style="color:#8D7DAD;">
                    
                    276
                    </h2>
                 </md-content>
            </div>
            
        </div>
 
        
  
      
    </body>
    
    <br>
    <br>
    <br>
    <br>
    
     <footer>
        <div layout="row" layout-align="center center">
            <h5 style="color:#3B3F51"> 2017 © Cyient Ltd   | </h5>  <h5 style="color:#3B3F51">  &nbsp; Comms-dev team ! </h5>
        </div>
    </footer>

</html>
