.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd;
 
}

.toolbars1 .toolbars2 {
     background-color: #3B3F51;
    font-family: 'Roboto', sans-serif;
}

.test{
/*    align-self : flex-end;*/
    
    align-self: flex-end;
}

.SideNav{
    
    position: relative;
    background-color: yellow;
    left:2%;
}
